.my-button {
    background-color: orange;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    border-style: none;
}

.container {
    width: 320px;
    background-color: rgb(162, 247, 159);
    margin: 1rem;
    padding: 1rem;
    outline: dashed 1px black;
    border-radius: 0.5rem;
}
.attribute {
    margin: 0.5rem;
}