.custom {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.cs{
    background-color: aquamarine;
}
.form-label{
    float: inline-start;
}
.form-text{
    color: rgb(255, 0, 76);
}

.input-label{
    color: rgb(139, 139, 139);
    font-size: small
}