#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144,148,150, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}
.cancel{
    margin-right: 0.5rem;
}